# Configuración del modelo
MODEL_SIZE=small
DEVICE=cpu
# Opciones para MODEL_SIZE: tiny, tiny.en, base, base.en, small, small.en, medium, medium.en, large-v1, large-v2, large-v3
# Opciones para DEVICE: cpu, cuda

# Idioma para la transcripción (opcional).
# Si no se especifica, el modelo detectará el idioma automáticamente.
# Ejemplos: es, en, fr, de, ja, etc.
LANGUAGE=es

# Directorio para guardar los modelos
MODELS_DIR=./models